{{define "title"}}Home{{end}}
{{define "main"}}
<div class="homediv">
<h1>Mathrix {{.CurrentYear}}</h1>
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<br>
<p>
Quisque non tellus orci ac auctor augue. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Tristique senectus et netus et malesuada. Non arcu risus quis varius quam quisque id. Pharetra massa massa ultricies mi quis hendrerit dolor magna eget. Tincidunt ornare massa eget egestas purus. Eu ultrices vitae auctor eu augue ut lectus arcu. Elementum integer enim neque volutpat ac. Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Egestas integer eget aliquet nibh. Quis lectus nulla at volutpat diam ut venenatis. Porttitor rhoncus dolor purus non enim praesent.
<p>
</div>
{{end}}

